<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ARCHAMH_LOG}/archAMH.log</file>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{50}.%M:%L - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${ARCHAMH_LOG}/archAMH.%i.log</FileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger level="INFO" additivity="false">
        <appender-ref ref="file" />
    </logger>

    <logger level="WARN" additivity="false">
        <appender-ref ref="file" />
    </logger>

    <root level="INFO">
        <appender-ref ref="file" />
    </root>
</configuration>